<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2" style="height: available ; background-color: darkgray"  >
            <div class="row">
                <div class="col-sm-6">
                    <img src="http://placehold.it/150x150" id="imgProfile" style="width: 150px; height: 150px" class="img-thumbnail" />
                </div>
                <div class="col-sm-6">
                    <div class="userData">
                        <h5 class="d-block" ><a style="color: black">Dudler</a></h5>
                        <h6 class="d-block"><a style="color: black" href="javascript:void(0)">1,500</a><br/><a style="color: black"> Video Uploads</a></h6>
                        <h6 class="d-block"><a href="javascript:void(0)">300</a> <a style="color: black">Blog Posts</a></h6>
                        <input type="button" class="btn btn-secondary" id="btnChangePicture" value="Change" />
                    </div>
                </div>
            </div>

            <br/>
            <button class="btn btn-lg btn-secondary btn-block">Edit Videos</button>
            <br/>
            <button class="btn btn-lg btn-secondary btn-block">Button</button>
            <br/>
            <button class="btn btn-lg btn-secondary btn-block">Button</button>
        </div>
        <div class="col-lg-9"  >
            <h2>about me</h2>
            <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
        </div>
    </div>

</div>

</body>
</html>