<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ViDemo</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</head>
<body>
<div th:insert="blocks/header :: header"/>
<div style="margin-right: 50px;margin-left: 50px;margin-top: 30px">
    <div class="container-fluid" style="width: auto ;margin-right: auto" >
        <div class="row">
            <div th:each="video: ${videos} ">
                <div class="col">
                    <div class="row">
                        <div class="col" >
                            <a th:href="@{/videos/{id}(id=${video.getId()})}" style="color: black">
                                <div class="card" style="width: 18rem; background-color:dimgray; ">
                                    <img th:src="*{'data:image/jpg;base64,'+ video.getPhoto()}" height="180" width="320" class="card-img-top" alt="..."/>
                                    <div class="card-body">
                                        <h6 class="card-title" th:text="${video.getName()}"></h6>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>